*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background: linear-gradient(to right, purple, orange); */
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  /* background: rgba(255, 255, 255, 0.8); */
  margin: 6rem;
  justify-content: center;
}
.calculator-btn {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.calculator-btn:hover {
  background-color: rgba(221, 221, 221, 0.9);
}

.btn-operation {
  color: blueviolet;
  font-size: 2.5rem;
}

.span-2 {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  /* background: rgba(0, 0, 0, 0.75); */
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  /* color: #fff; */
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.display .operand {
  font-size: 1.5rem;
  color: #666;
}

.display .current {
  font-size: 2.5rem;
}
